//media query
@media all and (max-width: 769px) {
    .banner_section {
        .order_oner {
            order: 1;
        }
        .order_two {
            order: 2;
            padding: 60px 0;
            border-top: 1px solid #8392ff7a;
        }
    }
    .counter_section {
        .item {
            border: 1px solid #ffffff;
            margin: 10px 0;
            padding: 20px;
            transition: 0.4s;
            &:hover {
                border-color: #066d5b;
            }
        }
    }
}
//media query
@media all and (max-width: 1204px) {
    .section_title {
        margin-bottom: 30px !important;
    }
    .pricing_table {
        .item {
            margin: 20px 0;
        }
    }
}
//media query
@media all and (max-width: 992px) {
    // nav#nav {
    //     margin: 0 !important;
    // }
    // #navbar {
    //     padding: 0 !important;
    //     margin: 0 !important;
    //     li {
    //         position: relative;
    //         border-bottom: 1px solid rgba(221, 221, 221, 0.315);
    //         ul {
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             border: none;
    //         }
    //     }
    // }
    #navbar {
        li {
            position: relative;
            &:hover ul{
                display: block !important;
            }
            ul{
                display: none !important;
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    .pricing_table {
        padding: 60px;
    }
    .counter_section {
        padding: 73px 0;
    }
    .about_section {
        background: none;
        padding: 54px !important;
    }
    .contact_us_section {
        padding: 60px 0 0 0;
        .contact_us_title {
            margin-bottom: 10px;
        }
        .order_oner {
            order: 1;
        }
        .order_two {
            order: 2;
            padding: 60px 0;
        }
        .right_inner {
            margin-left: 0;
        }
        .left_inner {
            margin: 0;
        }
    }
}
//media query
@media all and (max-width: 768px) {
    .pricing_table {
        .item {
            margin: 25px;
        }
    }
}
//media query
@media all and (max-width: 576px) {
    html {
        font-size: 14px;
    }
    .banner_section {
        .left_inner_div {
            padding: 0;
            padding: 0 30px;
        }
        .right_div_inner {
            text-align: center !important;
        }
    }
    .about_section {
        margin-right: 0 !important;
        .left_inner_div {
            padding: 0;
        }
    }
    .pricing_table {
        padding: 30px 20px;
    }
    .team_section {
        padding: 40px;
    }
    .contact_us_section {
        padding: 30px;
    }
}
