body {
  font-family: "Roboto", sans-serif;
}

#nav {
  padding: 0 !important;
  background: #ffffff;
  border-bottom: 1px solid #68b5fd38;
  padding: 10px 0 !important;
}

#nav #navbar > li {
  padding: 10px 0;
}

#nav #navbar > li a {
  color: #666;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#nav #navbar > li a:hover {
  color: #68b4fd;
}

#nav #navbar > li ul {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  top: 100%;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0 5px 10px #00000015;
          box-shadow: 0 5px 10px #00000015;
}

#nav #navbar > li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*============== (~ banner_section ~) =================*/
.banner_section {
  background: #f9f9ff;
  padding-top: 20px;
}

.banner_section .left_inner_div {
  padding-right: 50px;
}

.banner_section .left_inner_div h5 {
  margin-top: 140px;
  color: #999;
}

.banner_section .left_inner_div h1 {
  margin-bottom: 20px;
}

.banner_section .left_inner_div p {
  text-align: justify;
  color: #666;
  font-weight: 400;
}

.banner_section .left_inner_div a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #8490ff;
  padding: 10px 30px;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid rgba(0, 0, 0, 0);
  margin-top: 20px;
}

.banner_section .left_inner_div a:hover {
  background: transparent;
  color: #8490ff;
  border: 2px solid #8490ff;
}

/*============== (~ about_section ~) =================*/
.about_section {
  background: none;
  padding: 100px !important;
}

.about_section .left_inner_div {
  padding-right: 0 !important;
  padding-left: 40px;
}

.about_section .left_inner_div h5 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.about_section .left_inner_div p {
  line-height: 30px;
}

/*============== (~ counter_section ~) =================*/
.counter_section {
  padding: 100px 0;
  background: #8490ff;
}

.counter_section .item {
  text-align: center;
}

.counter_section .item h1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
}

.counter_section .item span {
  display: block;
  text-transform: capitalize;
  color: white;
  font-weight: 400;
}

/*============== (~ pricing_table ~) =================*/
.pricing_table {
  padding: 100px 0;
  background: #f9f9ff;
}

.pricing_table .section_title {
  text-align: center;
  margin-bottom: 100px;
}

.pricing_table .section_title h1 {
  font-size: 40px;
  font-weight: 700;
}

.pricing_table .item {
  border: 1px solid rgba(221, 221, 221, 0.336);
  border-radius: 4px;
  text-align: center;
  background: #fff;
  margin: 20px 20px;
  padding: 40px 0;
  -webkit-box-shadow: 0 0 40px rgba(221, 221, 221, 0.377);
          box-shadow: 0 0 40px rgba(221, 221, 221, 0.377);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.pricing_table .item:hover {
  -webkit-box-shadow: 0 0 40px #ddd;
          box-shadow: 0 0 40px #ddd;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.pricing_table .item .icon_inner span {
  background: #f9f9ff;
  display: block;
  font-size: 40px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  margin: auto;
  margin-bottom: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing_table .item:hover .icon_inner span {
  background: #8490ff;
  color: #fff;
}

.pricing_table .item:hover a {
  background: #8490ff;
  color: #fff !important;
}

.pricing_table .item .title h6 {
  font-size: 20px;
  font-weight: 500;
}

.pricing_table .item .title span {
  display: block;
  font-weight: 500;
  color: #999;
}

.pricing_table .item .content {
  margin-top: 30px;
}

.pricing_table .item .content p {
  margin: 0;
  text-transform: capitalize;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #888;
}

.pricing_table .item .content a {
  display: inline-block;
  padding: 7px 50px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #8490ff;
  -webkit-box-shadow: 0 0 20px #8490ff3a;
          box-shadow: 0 0 20px #8490ff3a;
  border: 1px solid rgba(0, 0, 0, 0);
}

.pricing_table .item .content a:hover {
  color: #8490ff !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(0, 0, 0, 0) !important;
  border: 1px solid #8490ff;
}

/*============== (~ team_section ~) =================*/
.team_section {
  padding: 70px 0;
}

.team_section .team_title p {
  padding-bottom: 0px !important;
}

.team_section .team-iinner {
  border: 1px solid rgba(221, 221, 221, 0.295);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px #ddd;
          box-shadow: 0 0 20px #ddd;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  margin: 40px 0;
}

.team_section .team-iinner:hover {
  -webkit-box-shadow: 0 8px 50px rgba(163, 163, 163, 0.432);
          box-shadow: 0 8px 50px rgba(163, 163, 163, 0.432);
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.team_section .team-iinner:hover .image_inner {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.team_section .team-iinner:hover .image_inner img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.team_section .team-iinner .image_inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  margin: auto;
  border: 5px solid rgba(0, 0, 0, 0.13);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team_section .team-iinner .image_inner img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team_section .team-iinner:hover .contant .icon {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.team_section .team-iinner .contant {
  text-align: center;
}

.team_section .team-iinner .contant .icon {
  background: rgba(0, 0, 0, 0.089);
  list-style: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.team_section .team-iinner .contant .icon li {
  display: inline-block;
  padding: 10px 5px;
}

.team_section .team-iinner .contant h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
  color: #555;
  margin-top: 70px;
}

.team_section .team-iinner .contant span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  color: #999;
}

.team_section .team-iinner .contant p {
  padding: 10px 10px;
  color: #444;
  line-height: 35px;
}

.team_section .team-iinner .contant a {
  display: inline-block;
  padding: 7px 40px;
  margin: 10px 0 30px 0;
  text-decoration: none;
  border-radius: 5px;
  color: #333;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgba(221, 221, 221, 0);
  -webkit-box-shadow: 0 0 20px #8490ff3a;
          box-shadow: 0 0 20px #8490ff3a;
  transition: 0.4s;
  margin-bottom: 50px;
}

.team_section .team-iinner .contant a:hover {
  color: #fff;
  background: #8490ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*============== (~ contact_us_section ~) =================*/
.contact_us_section {
  padding: 100px 0;
  text-align: center;
  background: #f9f9ff;
}

.contact_us_section .contact_us_title {
  margin-bottom: 100px;
}

.contact_us_section .contact_us_title h4 {
  font-weight: 400;
  color: #999;
}

.contact_us_section .contact_us_title h1 {
  color: #444;
  font-weight: 500;
  font-size: 31px;
}

.contact_us_section .left_inner {
  padding: 45px 30px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px #d5d5eb;
          box-shadow: 0 0 30px #d5d5eb;
  margin-right: 50px;
}

.contact_us_section .left_inner form h5 {
  margin-bottom: 50px;
  font-size: 28px;
  color: #666;
}

.contact_us_section .left_inner form .form-control {
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_us_section .left_inner form .form-control:focus {
  border-color: #17a2b8 !important;
}

.contact_us_section .left_inner form textarea.form-control {
  height: 170px;
  resize: none;
}

.contact_us_section .left_inner form input[type="submit"] {
  padding: 13px 50px !important;
  background: #17a2b8;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 35px;
  -webkit-transition: .4s;
  transition: .4s;
  font-weight: 500;
  border: 1px solid #17a3b800;
}

.contact_us_section .left_inner form input[type="submit"]:hover {
  background: transparent;
  color: #17a2b8;
  border: 1px solid #17a2b8;
}

.contact_us_section .right_inner {
  text-align-last: left;
  margin-left: 60px;
}

.contact_us_section .right_inner h3 {
  font-weight: 500;
  font-size: 35px;
  margin-top: 60px;
}

.contact_us_section .right_inner p {
  font-weight: 500;
  color: #666;
}

.contact_us_section .right_inner p span {
  display: inline-block;
  color: #000;
  padding-right: 8px;
}

.contact_us_section .right_inner .extra p {
  text-align: justify;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

footer {
  background: #000;
  padding: 30px 0;
}

footer p {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

footer p a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 3px;
}

footer p a:hover {
  color: #17a2b8;
}
/*# sourceMappingURL=style.css.map */